.country{
  &__wrapper{
    padding: 0 16px;
    margin: 40px 0px;
    &__content{
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      .flag{
        width: 320px;
        height: 230px;
        box-shadow: 0 0 18px 2px rgb(0 0 0 / 10%);
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .info{
        color: var(--text-color);
        max-width: 320px;
        h3{
          font-family: inherit;
          margin-top: 40px;
          margin-bottom: 30px;
          font-weight: 800;
          font-size: 24px;
        }
        &__wrapper{
          display: flex;
          flex-direction: column;
          gap: 50px;
          margin-bottom: 50px;
          &__left,&__right{
            p{
              font-size: 15px;
              margin: 5px 0;
              span{
                font-weight: 600;
              }
            }
          }
        }
        &__border-countries{

          &__countries{
            margin-top: 10px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            a{
              text-decoration: none;
              color: var(--text-color);
            }
          }
        }
      }
    }
  }
  .btn{
    padding: 1px 6px;
    min-width: 97px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 4px;
    background-color: var(--element-color);
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    box-shadow: 0 0 18px 2px rgb(0 0 0 / 10%);
    span{
      margin-left: 10px;
    }
  }
  .btn:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
  }
  .btn-light{
    align-self: flex-start;
  }

  @media screen and (min-width: 768px) {
    &__wrapper{
      &__content{
        flex-direction: row;
        gap: 80px;
        .flag{
          min-width: 320px;
        }
        .info{
          max-width: 100%;
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    width: 100%;

    &__wrapper{
      width: 100%;
      &__content{
        flex-direction: row;
        justify-content: space-around;
        gap: 100px;
        .info{
          &__wrapper{
            flex-direction: row;
          }
          &__border-countries{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            gap: 20px;
            h4{
              min-width: fit-content;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 1200px){
    &__wrapper{
      &__content{
        .flag{
          height: 400px;
          width: 560px;
          min-width: 560px;
        }
      }
    }
  }

}