@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-family: 'Nunito Sans', sans-serif;
  background-color: #202D36;
  max-width: 1440px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}
/*Header*/
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
/* Countries*/
 .countries .top{
  height: 160px;
 }
.countries article img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.countries{
  display: grid;
  grid-template-columns: 265px;
  gap: 75px;
  row-gap: 75px;
  color: white;
  margin-top: 50px;
}
.countries .wrapper{
  background-color: #2B3743;
  max-height: 350px;
  border-radius: 5px;
  box-shadow: 0 0 18px 2px rgb(0 0 0 / 10%);
}
.countries .content{
  padding: 30px 25px 45px 25px;
  margin-top: -10px;
}
.countries .content h3{
  padding-bottom: 15px;
}
.countries .content p{
  padding-bottom: 5px;
}
.countries .content p span{
  font-weight: 600;
}
@media screen and (min-width: 640px) {
  .countries{
    grid-template-columns: 265px 265px;
  }
}
@media screen and (min-width: 768px) {
  .countries{
    grid-template-columns: 265px 265px 265px;
  }
}
@media screen and (min-width: 992px) {
  .countries{
    grid-template-columns: 265px 265px 265px 265px;
    justify-content: space-between;
    align-items: center;
  }
  .countries article{
    width: 265px;
    max-height: 350px;
  }

  .countries article img{
    width: 100%;
    max-height: 365px;
  }
}