
//Dark colors
$dark-bg-color: hsl(207, 26%, 17%);
$dark-element-color: hsl(209, 23%, 22%);
$dark-text-color: #FFFFFF;
//Light colors
$light-bg-color: hsl(0, 0%, 98%);
$light-element-color: hsl(0, 0%, 100%);
$light-text-color: hsl(200, 15%, 8%);

:root{
  --bg-color: #{$dark-bg-color};
  --element-color: #{$dark-element-color};
  --text-color: #{$dark-text-color};
}